services:
  db:
    image: mysql:9.4.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_DATABASE: app
    ports:
      - "3306:3306"

volumes:
  db_data:
    driver: local